* {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background: url("../imagens/hotel-imagem.jpg") no-repeat;
    background-size: cover;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.entrada-hotel {
    color: #FFFF;
    background-color: #171717;
    border: 5px solid;
    width: 350px;
    height: 350px;
    border-radius: 18px;
    text-align: center;
    justify-content: center;
    align-items: center;
    .botao {
        align-items: center;
        justify-content: center;
    }
}
